.box {
    /* Sets the width to 800 pixels */
    width: 800px;
    /* Sets the height to 600 pixels */
    height: 600px;
    /* Sets the background color to red */
    background-color: red;
    position: relative;
}

.box-1,
.box-2 {
    /* Sets the width to 200 pixels */
    width: 200px;
    /* Sets the height to 200 pixels */
    height: 200px;
}

.box-1 {
    /* Sets the background color to blue */
    background-color: blue;

    /* Positions the element absolutely */
    position: absolute;
    /* Positions the element 0 pixels from the right of the containing block */
    right: 0;
    /* Positions the element 0 pixels from the bottom of the containing block */
    bottom: 0;
}

.box-2 {
    /* Sets the background color to red */
    background-color: #b10909;
}