.box-1 {
    /* Sets the height to 100 pixels */
    height: 100px;
    /* Sets the background color to lime */
    background-color: lime;

    /* Initially sets the width to 100% of the viewport width */
    width: 100vw;
    /* Overrides the previous width, setting it to 50% of the parent element */
    width: 50%;
    /* Finally, overrides the width to 800 pixels */
    width: 800px;
}

.box-2 {
    /* Sets the maximum width to 800 pixels */
    max-width: 800px;

    /* Sets the height to 100 pixels */
    height: 100px;
    /* Sets the background color to red */
    background-color: red;
}

.box-3 {
    /* Sets the minimum width to 800 pixels */
    min-width: 800px;

    /* Sets the height to 100 pixels */
    height: 100px;
    /* Sets the background color to a shade of green */
    background-color: rgb(0, 255, 128);
}

.box-4 {
    /* Sets the width to 800 pixels */
    width: 800px;
    /* Sets the background color to a shade of yellow */
    background-color: rgb(229, 255, 0);

    /* Initially sets the height to 100% of the viewport height */
    height: 100vh;
    /* Finally, overrides the height to 50 pixels */
    height: 50px;
}

.box-5 {
    /* Sets the width to 800 pixels */
    width: 800px;
    /* Sets the background color to a shade of blue */
    background-color: rgb(0, 174, 255);

    /* Sets the minimum height to 50 pixels */
    min-height: 50px;
}

.box-6 {
    /* Sets the width to 800 pixels */
    width: 800px;
    /* Sets the background color to a shade of pink */
    background-color: rgb(255, 0, 191);

    /* Sets the maximum height to 50 pixels */
    max-height: 50px;
}