.box-1 {
    /* Sets the width to 200 pixels */
    width: 200px;
    /* Sets the height to 200 pixels */
    height: 200px;
    /* Sets the background color to solid red */
    background-color: rgb(255, 0, 0);

    /* Sets the opacity to 0.5, making the element semi-transparent */
    opacity: 0.5;

}

.box-2 {
    /* Sets the width to 200 pixels */
    width: 200px;
    /* Sets the height to 200 pixels */
    height: 200px;
    /* Sets the background color to a semi-transparent green */
    background-color: rgba(30, 255, 0, 0.5);
}